.yellow-bg {
    background: yellow;
}

.alert-box {
    background: rgb(169, 169, 226);
    color: blue;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.alert-box p{
    display: inline;
}